@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


* {
    margin: 0;
    padding: 0;
}

/* body::-webkit-scrollbar{
    background: transparent;
}

body::-webkit-scrollbar-thumb{
    background: none;
} */

.df {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    width: 100dvw;
    height: 100dvh;
    background-color: #fff2f2;
    overflow-x: hidden;
}

nav {
    width: 77rem;
    height: 4rem;
    background-color: rgb(242, 9, 9);
    position: sticky;
    top: 0;
    z-index: 1;
}

ul {
    gap: 11rem;
}

li {
    display: inline-block;
    font-size: 1.2rem;
    margin-left: 1rem;
    padding: 0.2rem;
    /* box-shadow: 0 0 1rem rgb(88, 1, 1); */
    transition: 0.5s;
    color: white;
}

li:hover {
    box-shadow: 0 0 1rem rgb(246, 174, 174);
    cursor: pointer;
    background: rgb(217 0 0);
}

.link{
    text-decoration: none;
    color: white;
}

.logoli:hover {
    box-shadow: none;
}

.c-li li {
    border-radius: 0.4rem;
    padding: 0.2rem;
}

.c-li li:hover {
    background: #b00000;
}
.c-li a {
    text-decoration: none;
    color: ghostwhite;
    text-shadow: 0 0 0.5rem rgb(246, 138, 138);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.title {
    font-size: 3rem;
    font-family: 'Berkshire Swash', serif;
    text-shadow: 0 0 0.5rem rgb(86 2 2);
    padding: 0.4rem;
    color: ghostwhite;
}

.logo {
    width: 5rem;
    box-shadow: 0 0 1rem rgb(121 13 13);
    border-top-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.logoli {
    border: none;
    box-shadow: none;
    margin-right: 5rem;
}

.sideBar {
    width: 11.5rem;
    background: rgb(165, 1, 1);
    position: absolute;
    left: -20rem;
    transition: 1s;
    flex-direction: column;
    padding-bottom: 1rem;
    font-family: 'Berkshire Swash', serif;
    border-radius: 0.2rem;
}

.sideBar li {
    font-size: 1.3rem;
    width: 8rem;
    border-bottom: 2px solid grey;
    border-right: 2px solid grey;
    margin-top: 1rem;
    text-align: end;
    padding-right: 0.5rem;
    border-radius: 0.3rem;
}

.header{
    font-size: 3rem;
    text-align: center;
    margin: 0.7rem 0rem;
    color: slategrey;
    box-shadow: 0 0 1rem darkgray;
    border-radius: 0.4rem;
    padding: 0.4rem 0rem;
    font-family: 'Ubuntu';
}

.container {
    width: 74rem;
    margin-top: 0.5rem;
    /* background-color: rgb(115 115 250); */
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 1.5rem;
}

.top-news-headlines {
    width: 73rem;
    height: 8rem;
    /* background: rgb(61, 93, 255); */
    box-shadow: 0 0 0.3rem #3e3e40;
    border-radius: 0.3rem;
    margin: 0.5rem 0rem;
    padding: 0.4rem;
    align-items: flex-start;
    gap: 3rem;
}

.heading {
    font-family: 'Ubuntu', sans-serif;
}

.part1 {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
}

.content {
    width: 70rem;
    font-size: 1.1rem;
    font-family: 'Nunito', sans-serif;
}

.main-news {
    width: 74rem;
    flex-direction: column;
    gap: 1rem;
}

.main-news-box {
    gap: 1rem;
    flex-direction: column;
}

.news-box {
    width: 71rem;
    /* height: 10rem; */
    /* background-color: blue; */
    border-radius: 0.3rem;
    box-shadow: 0 0 1rem #bebec1;
    padding: 1rem;
    font-size: 1.1rem;
    justify-content: flex-start;
    gap: 4rem;
}

.content-part {
    width: 50rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    justify-content: flex-start
}

.pub-name {
    font-size: 1.1rem;
    font-weight: 500;
    font-family: 'Berkshire Swash';
}

.news-title {
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
}

.description {
    /* font-family: 'Roboto Condensed', sans-serif; */
    font-family: 'Nunito', sans-serif;
}

.btn button {
    width: 7rem;
    background-color: rgb(33, 33, 249);
    border-radius: 0.5rem;
    border: none;
    padding: 0.2rem;
    cursor: pointer;
    height: 2rem;
}

.btn button:hover {
    box-shadow: 0 0 0.3rem rgb(1, 1, 76);
}

.btn a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    display: block;
}

.img-part img {
    width: 17rem;
    border-radius: 0.3rem;
    box-shadow: 0 0 0.5rem rgb(190, 190, 190);
    height: 11rem;
}

.full_container {
    width: 100dvw;
    height: 100dvh;
}

.text-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer {
    width: 72rem;
    justify-content: space-between;
    margin: 0rem 1rem;
    margin-top: 1.5rem;
}

.footer button {
    color: white;
    font-size: 1.1rem;
    display: block;
}


button:disabled{
    color: gray;
    background-color: rgb(26 26 192);
    cursor:default;
}

.loading{
    width: 74rem;
}

.name{
    background: #e5e5ff;
    padding: 0rem 0.5rem;
    border-radius: 0.4rem;
    font-family:'Ubuntu';
}

.publish .pub-name{
    font-family: system-ui;
}
.publish{
    font-size: 1rem;
}

.not-found{
    font-size: 4rem;
    color: #c5baba;
}