@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

#root {
    overflow-x: hidden;
}

/* body::-webkit-scrollbar{
    background: transparent;
}

body::-webkit-scrollbar-thumb{
    background: none;
} */

.df {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    width: 100dvw;
    background: repeating-linear-gradient(200deg, #e4e4e4, #e4e6ff, transparent 200px);
    overflow-x: hidden;
}

header {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100vw;
}

nav {
    width: 100vw;
    height: 4rem;
    background-color: #0d0d5c;
}

.ul {
    width: 95vw;
    justify-content: space-between;
}

li {
    display: inline-block;
    font-size: 1.1rem;
    margin-left: 1rem;
    padding: 0.2rem;
    transition: 0.5s;
    color: white;
    text-shadow: 0 0 0.5rem rgb(246, 138, 138);
}

li:hover {
    box-shadow: 0 0 0.3rem blue;
    cursor: pointer;
    background: #060623;
}

.link {
    text-decoration: none;
    color: white;
}

.logoli:hover {
    box-shadow: none;
}

.logoli:focus-visible {
    outline: none;
}

.a:focus-visible {
    outline: none;
}

.logo:focus-visible {
    outline: none;
}

.c-li li {
    border-radius: 0.4rem;
    padding: 0.2rem;
}

.c-li li:hover {
    background: #0c0c36;
}

.c-li a {
    text-decoration: none;
    color: ghostwhite;
    text-shadow: 0 0 0.5rem rgb(246, 138, 138);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.title {
    font-size: 3rem;
    font-family: 'Berkshire Swash', serif;
    text-shadow: 0 0 0.5rem rgb(86 2 2);
    padding: 0.4rem;
    color: ghostwhite;
}

.logo {
    width: 5rem;
    box-shadow: 0 0 1rem rgb(121 13 13);
    border-top-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.logoli {
    border: none;
    box-shadow: none;
    border-top-left-radius: 1.6rem;
    border-bottom-right-radius: 2rem;
}

.sideBar {
    width: 11.5rem;
    background: rgb(1, 4, 165);
    position: absolute;
    left: -20rem;
    transition: 1s;
    flex-direction: column;
    padding-bottom: 1rem;
    font-family: 'Berkshire Swash', serif;
    border-radius: 0.2rem;
}

.sideBar li {
    font-size: 1.3rem;
    width: 8rem;
    border-bottom: 2px solid grey;
    border-right: 2px solid grey;
    margin-top: 1rem;
    text-align: end;
    padding-right: 0.5rem;
    border-radius: 0.3rem;
}

.header {
    font-size: 3rem;
    text-align: center;
    margin: 0.7rem 2rem;
    color: slategrey;
    box-shadow: 0 0 1rem darkgray;
    border-radius: 0.4rem;
    padding: 0.4rem 0rem;
    font-family: 'Ubuntu';
}

.container {
    width: 100vw;
    margin-top: 0.5rem;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 1.5rem;
    margin-top: 5rem;
}

.top-news-headlines {
    width: 100%;
    height: 8rem;
    border-radius: 0.3rem;
    align-items: flex-start;
    gap: 3rem;

}

.heading {
    font-family: 'Ubuntu', sans-serif;
}

.part1 {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    box-shadow: 0 0 0.3rem #3e3e40;
    padding: 0.4rem;
}

.content {
    width: 72rem;
    font-size: 1.1rem;
    font-family: 'Nunito', sans-serif;
}

.main-news {
    width: 74rem;
    flex-direction: column;
    gap: 1rem;
}

.main-news-box {
    gap: 1rem;
    flex-direction: column;
    margin-bottom: 1rem;
}

.news-box {
    width: 92vw;
    border-radius: 0.3rem;
    box-shadow: 0 0 1.4rem #8f8f91;
    padding: 1rem;
    font-size: 1.1rem;
    justify-content: space-between;
    gap: 4rem;
    margin: 0rem 2rem;
}

.content-part {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    justify-content: flex-start
}

.pub-name {
    font-size: 1.1rem;
    font-weight: 500;
    font-family: 'Berkshire Swash';
}

.news-title {
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
}

.description {
    font-family: 'Nunito', sans-serif;
}

.btn button {
    width: 7rem;
    background-color: rgb(33, 33, 249);
    border-radius: 0.5rem;
    border: none;
    padding: 0.2rem;
    cursor: pointer;
    height: 2rem;
    color: white;
    font-size: 1.1rem;
}

.btn button:hover {
    box-shadow: 0 0 0.3rem rgb(1, 1, 76);
}

.btn a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    display: block;
}

.img-part img {
    width: 17rem;
    border-radius: 0.3rem;
    box-shadow: 0 0 0.5rem rgb(190, 190, 190);
    height: 11rem;
}

.full_container {
    width: 100dvw;
    height: 100dvh;
}

.text-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer {
    width: 72rem;
    justify-content: space-between;
    margin: 0rem 1rem;
    margin-top: 1.5rem;
}

.footer button {
    color: white;
    font-size: 1.1rem;
    display: block;
}


button:disabled {
    color: gray;
    background-color: rgb(26 26 192);
    cursor: default;
}

.loading {
    width: 100vw;
}

.name {
    background: #e5e5ff;
    padding: 0rem 0.5rem;
    border-radius: 0.4rem;
    font-family: 'Ubuntu';
}

.publish .pub-name {
    font-family: system-ui;
}

.publish {
    font-size: 1rem;
}

.not-found {
    font-size: 4rem;
    color: #c5baba;
}

.uparrow {
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
}

.uparrow button {
    background: gray;
    margin-bottom: 0.5rem;
    text-align: center;
}

/* About  */

/* .dffcntr {
    margin: 0;
} */

.aboutHeading {
    width: 100dvw;
    height: 15rem;
    justify-content: space-between;
}

.aboutHeading p {
    height: 3rem;
    width: 30rem;
    font-size: 3rem;
    text-align: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.1rem;
    box-shadow: 0 0 1rem gray;
    color: white;
    background: rgb(11, 0, 170);
    text-shadow: 0 0 0.5rem white;
    font-family: 'Berkshire Swash', serif;
    margin-bottom: 5rem;
}

.aboutContent {
    width: 100dvw;
    height: 22.3rem;
}

.aboutContent .aboutC {
    font-size: 1.3rem;
    width: 75dvw;
    height: 21rem;
    background: rgb(239, 239, 239);
    text-align: start;
    box-shadow: 0 0 1rem gray;
    padding: 1.5rem;
    margin-top: -9rem;
    align-items: center;
    border-radius: 0.5rem;
    font-family: 'Nunito', sans-serif;
    text-shadow: 0 0 0.5rem gray;
    gap: 1rem;
}

.newsImg {
    width: 26rem;
}

.newsimg {
    width: 14rem;
    border-radius: 0.2rem;
    margin-right: 1rem;
    margin-bottom: 10rem;
}

/* Contact */

.contactHeading {
    width: 100dvw;
    height: 18rem;
    justify-content: flex-end;
}

.contactHeading p {
    height: 3rem;
    width: 30rem;
    font-size: 3rem;
    text-align: start;
    padding: 1rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.1rem;
    box-shadow: 0 0 1rem gray;
    color: white;
    background: rgb(31, 0, 170);
    text-shadow: 0 0 0.5rem white;
    font-family: 'Berkshire Swash', serif;
    margin-bottom: 10rem;
}

.contactContent {
    width: 100dvw;
}

.contactC {
    font-size: 1.3rem;
    width: 78dvw;
    background: rgb(239, 239, 239);
    text-align: start;
    box-shadow: 0 0 1rem gray;
    padding: 1.5rem;
    margin-top: -10rem;
    align-items: start;
    border-radius: 0.5rem;
    font-family: 'Nunito', sans-serif;
    text-shadow: 0 0 0.5rem gray;
    gap: 1rem;
    flex-direction: column;
}

.contact {
    flex-wrap: wrap-reverse;
}

.form {
    width: 30rem;
    flex-direction: row;
}

.imgBox {
    width: 30rem;
    height: 28rem;
    text-align: end;
}

.imgBox img {
    width: 30rem;
}

form {
    box-shadow: 0 0 0.4rem #000076;
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    background: #00003c;
    color: white;
}

.input {
    flex-direction: column;
    align-items: flex-start;
}

input:focus-visible {
    outline: none;
    background-color: #e8e6ff;
    box-shadow: 0 0 10px #03ffee;
}

.cominp {
    width: 15rem;
    height: 1.8rem;
    font-size: 1.3rem;
    border: none;
    border-radius: 0.1rem;
    padding: 0.3rem;
    background: white;
    box-shadow: 0 0 0.5rem white;
    margin-top: 0.2rem;
}

textarea {
    resize: none;
    height: 8rem;
    width: 23rem;
    padding: 0.5rem;
    border: none;
    border-radius: 0.1rem;
    background: white;
    box-shadow: 0 0 0.5rem white;
    margin-top: 0.2rem;
    font-family: 'Nunito', sans-serif;
    font-size: 1.3rem;
}

textarea:focus-visible {
    outline: none;
    background-color: #e8e6ff;
}

.btn-sub {
    font-size: 1.5rem;
    padding: 0.2rem;
    background: #00005e;
    border: 1px solid white;
    border-radius: 0.4rem;
    color: white;
    transition: 0.5s;
}

.btn-sub:hover {
    cursor: pointer;
    box-shadow: 0 0 0.5rem white;
}

.copyright {
    width: 65rem;
    text-align: center;
    flex-direction: column;
}

.imagesContact {
    gap: 2rem;
}

.imagesContact img {
    width: 2rem;
}

.imagesContact img:hover {
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 1rem #9a9fc1;
}

.sideNavbar {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: absolute;
    top: 4rem;
    font-size: 2.5rem;
    right: 0rem;
    background: darkblue;
    padding: 1rem;
    width: 40vw;
    transition: 0.4s;
    text-decoration: overline;
}

.sideNavbar li {
    font-size: 2rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.sideNavbar a {
    text-decoration: none;
    color: white;
}

.menuImg {
    width: 7vw;
}

.menuImg:hover {
    cursor: pointer;
}

.src {
    display: inline-block;
    animation: lightblink 1s linear infinite;
}

.line-news-container{
    width: 70vw;
}

@keyframes lightblink {
    0% {
        text-shadow: 0 0 2px red;
    }
    20% {
        text-shadow: 0 0 2px red;
    }

    50% {
        text-shadow: none;
    }

    80% {
        text-shadow: 0 0 2px red;
    }
    100% {
        text-shadow: 0 0 2px red;
    }
}

/*------------------------***********************Responsive CSS */
@media (max-width:1441px) and (min-width:1235px) {

    nav {
        width: 100vw;
        height: 8rem;
    }

    .ul {
        justify-content: space-between;
        width: 100vw;
    }

    .logo {
        width: 9rem;
    }

    .title {
        font-size: 3.5rem;
    }

    li {
        font-size: 1.8rem;
    }

    .sideBar {
        width: 18rem;
    }

    .sideBar li {
        font-size: 2.3rem;
        width: 14rem;
    }

    .aboutHeading {
        height: 22rem;
    }

    .aboutHeading p {
        width: 30rem;
        height: 5rem;
        font-size: 4rem;
    }

    .aboutContent {
        height: 37rem;
    }

    .aboutContent .aboutC {
        font-size: 2rem;
        width: 85dvw;
        height: 40rem;
        align-items: center;
    }

    .newsImg {
        width: 39rem;
    }

    .contactHeading {
        height: 25rem;
    }

    .contactHeading p {
        height: 5rem;
        width: 40rem;
        font-size: 4rem;
    }

    .contactC {
        align-items: center;
    }

    .form {
        width: 35rem;
    }

    form {
        width: 30rem;
        height: 30rem;
    }

    .cominp {
        width: 20rem;
        height: 2rem;
        font-size: 1.6rem;
    }

    .imgBox {
        width: 35rem;
    }

    .imgBox img {
        width: 35rem;
        height: 20rem;
    }

    .content {
        width: 77rem;
    }

    .loading {
        width: 100vw;
    }

    .news-box {
        justify-content: space-between;
    }

    .content-part {
        width: 55rem;
    }
}

@media (max-width:1025px) {
    .newsImg {
        width: 24rem;
    }

    .contactHeading {
        height: 15rem;
    }

    .contactHeading p {
        margin-bottom: 5rem;
    }

    .form {
        width: 50vw;
    }

    .cominp {
        empty-cells: 10rem;
    }

    textarea {
        height: 5rem;
        width: 20rem;
    }

    .imgBox {
        width: 24rem;
        height: 26rem;
    }

    .imgBox img {
        width: 24rem;
    }

    .contactC {
        margin-top: -5rem;
        align-items: center;
        gap: 0;
    }

    .news-box {
        gap: 1rem;
    }

    .content {
        width: 61rem;
    }

    .aboutContent .aboutC {
        width: 85dvw;
    }
}

@media (max-width:1005px) {
    .content {
        width: 95vw;
    }

    .aboutContent .aboutC {
        margin-top: -5rem;
        height: 35rem;
        flex-wrap: wrap-reverse;
    }

    .contactC {
        margin-top: -5rem;
        flex-wrap: wrap-reverse;
        width: 65dvw;
    }

    .imgBox {
        height: 15rem;
    }

    .copyright {
        width: 60vw;
        margin-top: 1rem;
    }

    .newsimg {
        width: 10rem;
        margin-bottom: 7rem;
    }

    .aboutContent {
        height: 35rem;
    }
}

@media (max-width:870px) {
    .header {
        font-size: 2rem;
    }

    .main-news-box {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .top-news-headlines {
        margin-bottom: 3.5rem;
    }

    .img-part img {
        width: 20rem;
    }
}

@media (max-width:660px) {
    .aboutContent {
        height: 40rem;
    }

    .aboutContent .aboutC {
        height: 40rem;
    }

    .newsimg {
        width: 7rem;
    }
}

@media (max-width:601px) {
    .sideNavbar li {
        font-size: 1.5rem;
    }

    .top-news-headlines {
        margin-bottom: 5rem;
    }

    .news-box {
        width: 20rem;
        flex-wrap: wrap-reverse;
    }

    .aboutContent {
        height: 42rem;
    }

    .aboutContent .aboutC {
        height: 42rem;
    }

    .copyright p {
        font-size: 1rem;
    }
}

@media (max-width:541px) {
    .contactC {
        width: 80vw;
    }
}

@media (max-width:500px) {
    .sideNavbar li {
        font-size: 1.2rem;
    }

    .header {
        font-size: 1.5rem;
    }

    .top-news-headlines {
        margin-bottom: 7rem;
    }

    .news-box {
        width: 20rem;
    }

    .aboutContent {
        height: 45rem;
    }

    .aboutContent .aboutC {
        height: 45rem;
    }

    .imgBox {
        width: 15rem;
        height: 10rem;
    }

    .imgBox img {
        width: 18rem;
    }

    .contactHeading {
        height: 12rem;
    }

    .contactHeading p {
        width: 15rem;
        height: 2rem;
        font-size: 2rem;
    }

    .cominp {
        width: 10rem;
    }

    textarea {
        width: 15rem;
    }

    .copyright p {
        font-size: 0.8rem;
    }
}

@media (max-width:431px) {
    .sideNavbar li {
        font-size: 1rem;
    }

    .sideNavbar {
        gap: 1rem;
    }

    .title {
        font-size: 2rem;
    }
}

@media (max-width:421px) {
    .aboutHeading p {
        font-size: 1.8rem;
    }

    .aboutContent {
        height: 50rem;
    }

    .aboutContent .aboutC {
        height: 50rem;
    }

}

@media (max-width:390px) {
    .newsImg {
        width: 20rem;
    }

    .aboutContent .aboutC {
        width: 75vw;
    }
}

@media (max-width:371px) {
    .content {
        width: 90vw;
    }

    .sideNavbar li {
        font-size: 1rem;
        padding: 0.2rem;
    }

    .sideNavbar {
        padding: 0.5rem;
    }

    .title {
        font-size: 1.5rem;
    }

    .news-box {
        width: 17rem;
    }

    .top-news-headlines {
        margin-bottom: 9rem;
    }

    .img-part img {
        width: 17rem;
    }

    .newsImg {
        width: 15rem;
    }

    .aboutHeading p {
        font-size: 1.3rem;
    }
}

@media (max-width:330px) {
    .sideNavbar li {
        font-size: 0.7rem;
    }

    .top-news-headlines {
        margin-bottom: 11rem;
    }

    .aboutContent .aboutC {
        height: 53rem;
    }
}

@media (max-width:315px) {
    .header {
        font-size: 1rem;
    }

    .top-news-headlines {
        margin-bottom: 13rem;
    }

    .news-box {
        width: 15rem;
    }

    .img-part img {
        width: 15rem;
    }

    .aboutContent .aboutC {
        height: 55rem;
    }
}

@media (max-width:300px) {
    .sideBar {
        width: 10rem;
    }

    .top-news-headlines {
        margin-bottom: 15rem;
    }

    .aboutContent {
        height: 55rem;
    }

    .aboutContent .aboutC {
        height: 60rem;
    }

    .newsImg {
        width: 12rem;
    }

    .imgBox img {
        width: 12rem;
    }

    .copyright {
        flex-wrap: wrap;
    }

    .cominp {
        width: 10rem;
    }

    textarea {
        width: 10rem;
    }

    .imagesContact {
        gap: 1rem;
    }

    .contactC {
        width: 100vw;
    }
}